
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a{
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  min-width: 140px;
  
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.error-message{
  color: red;
  font-size: 18px;
  margin: 8px;
}