@if (loading) {
  <app-loader></app-loader>
} @else{
  <app-back-button></app-back-button>
  <div class="dream-card">

    <div class="dream-card-image">
      <img [src]="'data:' + dream.imageContentType + ';base64,' + dream.imageBase64" [alt]="dream.title">
    </div>

    <div class="dream-card-text">
      <h2 class="dream-title">{{ dream.title }}</h2>
      <p class="dream-description"><b>Description:</b> {{ dream.description }}</p>
      <p class="dream-rating"><b>Rating:</b> {{ dream.rating }}</p>
      <button class="dream-card-delete-button" (click)="onDeleteButtonSubmit()">Delete</button>
    </div>


  </div>
}

