/src/Server/.idea/.idea.Server/.idea/.gitignore
/src/Server/.idea/.idea.Server/.idea/indexLayout.xml
/src/Server/.idea/.idea.Server/.idea/vcs.xml
/src/Server/Application/obj
/src/Server/Application/bin
/src/Server/Presentation/obj
/src/Server/Presentation/bin
/src/Server/Domain/obj
/src/Server/Domain/bin
/src/Server/Infrastructure/obj
/src/Server/Infrastructure/bin
/src/Server/Tests/obj/
/src/Identity/.idea
/src/Idenitity/https/dev-certificate.pfx
/src/Idenitity/Infrastructure/Migrations/20250524075649_AddRefreshToken.cs
/src/Idenitity/Infrastructure/Migrations/20250524075649_AddRefreshToken.Designer.cs
/src/Business/https/dev-certificate.pfx
/src/Business/Application/obj/Debug/net8.0/Application.csproj.CopyComplete
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CopyComplete
/src/Business/Presentation/obj/Debug/net8.0/Presentation.csproj.CopyComplete
/src/Business/Presentation/appsettings.Development.json
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.xml
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.xml
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.xml
/src/Idenitity/Application/bin/Debug/net8.0/Application.deps.json
/src/Idenitity/Application/bin/Debug/net8.0/Application.dll
/src/Idenitity/Application/bin/Debug/net8.0/Application.pdb
/src/Idenitity/Application/bin/Debug/net8.0/Domain.dll
/src/Idenitity/Application/bin/Debug/net8.0/Domain.pdb
/src/Idenitity/Application/obj/Debug/net8.0/ref/Application.dll
/src/Idenitity/Application/obj/Debug/net8.0/refint/Application.dll
/src/Idenitity/Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Idenitity/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
/src/Idenitity/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/src/Idenitity/Application/obj/Debug/net8.0/Application.assets.cache
/src/Idenitity/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/src/Idenitity/Application/obj/Debug/net8.0/Application.csproj.CopyComplete
/src/Idenitity/Application/obj/Debug/net8.0/Application.csproj.CoreCompileInputs.cache
/src/Idenitity/Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
/src/Idenitity/Application/obj/Debug/net8.0/Application.dll
/src/Idenitity/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Idenitity/Application/obj/Debug/net8.0/Application.GlobalUsings.g.cs
/src/Idenitity/Application/obj/Debug/net8.0/Application.pdb
/src/Idenitity/Application/obj/Debug/net8.0/Application.sourcelink.json
/src/Idenitity/Application/obj/Application.csproj.nuget.dgspec.json
/src/Idenitity/Application/obj/Application.csproj.nuget.g.props
/src/Idenitity/Application/obj/Application.csproj.nuget.g.targets
/src/Idenitity/Application/obj/project.assets.json
/src/Idenitity/Application/obj/project.nuget.cache
/src/Idenitity/Application/obj/project.packagespec.json
/src/Idenitity/Application/obj/rider.project.model.nuget.info
/src/Idenitity/Application/obj/rider.project.restore.info
/src/Idenitity/Domain/bin/Debug/net8.0/Domain.deps.json
/src/Idenitity/Domain/bin/Debug/net8.0/Domain.dll
/src/Idenitity/Domain/bin/Debug/net8.0/Domain.pdb
/src/Idenitity/Domain/obj/Debug/net8.0/ref/Domain.dll
/src/Idenitity/Domain/obj/Debug/net8.0/refint/Domain.dll
/src/Idenitity/Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.assets.cache
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.dll
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.pdb
/src/Idenitity/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/src/Idenitity/Domain/obj/Domain.csproj.nuget.dgspec.json
/src/Idenitity/Domain/obj/Domain.csproj.nuget.g.props
/src/Idenitity/Domain/obj/Domain.csproj.nuget.g.targets
/src/Idenitity/Domain/obj/project.assets.json
/src/Idenitity/Domain/obj/project.nuget.cache
/src/Idenitity/Domain/obj/project.packagespec.json
/src/Idenitity/Domain/obj/rider.project.model.nuget.info
/src/Idenitity/Domain/obj/rider.project.restore.info
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Domain.dll
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Domain.pdb
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/src/Idenitity/Infrastructure/bin/Debug/net8.0/Infrastructure.runtimeconfig.json
/src/Idenitity/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
/src/Idenitity/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
/src/Idenitity/Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CopyComplete
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.dll
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.genruntimeconfig.cache
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/src/Idenitity/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/src/Idenitity/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/src/Idenitity/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/src/Idenitity/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/src/Idenitity/Infrastructure/obj/project.assets.json
/src/Idenitity/Infrastructure/obj/project.nuget.cache
/src/Idenitity/Infrastructure/obj/project.packagespec.json
/src/Idenitity/Infrastructure/obj/rider.project.model.nuget.info
/src/Idenitity/Infrastructure/obj/rider.project.restore.info
/src/Idenitity/Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Application.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Application.pdb
/src/Idenitity/Presentation/bin/Debug/net8.0/appsettings.Development.json
/src/Idenitity/Presentation/bin/Debug/net8.0/appsettings.json
/src/Idenitity/Presentation/bin/Debug/net8.0/AutoMapper.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Domain.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Domain.pdb
/src/Idenitity/Presentation/bin/Debug/net8.0/FluentValidation.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Humanizer.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Infrastructure.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Infrastructure.pdb
/src/Idenitity/Presentation/bin/Debug/net8.0/MediatR.Contracts.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/MediatR.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.Metadata.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Microsoft.OpenApi.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Mono.TextTemplating.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Npgsql.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Presentation
/src/Idenitity/Presentation/bin/Debug/net8.0/Presentation.deps.json
/src/Idenitity/Presentation/bin/Debug/net8.0/Presentation.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Presentation.pdb
/src/Idenitity/Presentation/bin/Debug/net8.0/Presentation.runtimeconfig.json
/src/Idenitity/Presentation/bin/Debug/net8.0/SharpGrip.FluentValidation.AutoValidation.Mvc.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/SharpGrip.FluentValidation.AutoValidation.Shared.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.CodeDom.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.Composition.Convention.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.Composition.Hosting.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.Composition.Runtime.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.Composition.TypedParts.dll
/src/Idenitity/Presentation/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/src/Idenitity/Presentation/obj/Debug/net8.0/ref/Presentation.dll
/src/Idenitity/Presentation/obj/Debug/net8.0/refint/Presentation.dll
/src/Idenitity/Presentation/obj/Debug/net8.0/staticwebassets/msbuild.build.Presentation.props
/src/Idenitity/Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Presentation.props
/src/Idenitity/Presentation/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Presentation.props
/src/Idenitity/Presentation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Idenitity/Presentation/obj/Debug/net8.0/apphost
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfo.cs
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfoInputs.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.assets.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.csproj.AssemblyReference.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.csproj.CopyComplete
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.csproj.CoreCompileInputs.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.csproj.FileListAbsolute.txt
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.dll
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.genruntimeconfig.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.GlobalUsings.g.cs
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.MvcApplicationPartsAssemblyInfo.cache
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.MvcApplicationPartsAssemblyInfo.cs
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.pdb
/src/Idenitity/Presentation/obj/Debug/net8.0/Presentation.sourcelink.json
/src/Idenitity/Presentation/obj/Debug/net8.0/staticwebassets.build.json
/src/Idenitity/Presentation/obj/Presentation.csproj.nuget.dgspec.json
/src/Idenitity/Presentation/obj/Presentation.csproj.nuget.g.props
/src/Idenitity/Presentation/obj/Presentation.csproj.nuget.g.targets
/src/Idenitity/Presentation/obj/project.assets.json
/src/Idenitity/Presentation/obj/project.nuget.cache
/src/Idenitity/Presentation/obj/project.packagespec.json
/src/Idenitity/Presentation/obj/rider.project.model.nuget.info
/src/Idenitity/Presentation/obj/rider.project.restore.info
/src/Idenitity/Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Tests
/src/Idenitity/Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.assets.cache
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.csproj.AssemblyReference.cache
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/src/Idenitity/Tests/obj/Debug/net8.0/Tests.GlobalUsings.g.cs
/src/Idenitity/Tests/obj/project.assets.json
/src/Idenitity/Tests/obj/project.nuget.cache
/src/Idenitity/Tests/obj/project.packagespec.json
/src/Idenitity/Tests/obj/rider.project.model.nuget.info
/src/Idenitity/Tests/obj/rider.project.restore.info
/src/Idenitity/Tests/obj/Tests.csproj.nuget.dgspec.json
/src/Idenitity/Tests/obj/Tests.csproj.nuget.g.props
/src/Idenitity/Tests/obj/Tests.csproj.nuget.g.targets
/src/Business/Shared/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Shared/obj/Debug/net8.0/Shared.AssemblyInfo.cs
/src/Business/Shared/obj/Debug/net8.0/Shared.AssemblyInfoInputs.cache
/src/Business/Shared/obj/Debug/net8.0/Shared.assets.cache
/src/Business/Shared/obj/Debug/net8.0/Shared.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Shared/obj/Debug/net8.0/Shared.GlobalUsings.g.cs
/src/Business/Shared/obj/project.assets.json
/src/Business/Shared/obj/project.nuget.cache
/src/Business/Shared/obj/project.packagespec.json
/src/Business/Shared/obj/rider.project.restore.info
/src/Business/Shared/obj/Shared.csproj.nuget.dgspec.json
/src/Business/Shared/obj/Shared.csproj.nuget.g.props
/src/Business/Shared/obj/Shared.csproj.nuget.g.targets
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.xml
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.xml
/src/Business/Presentation/bin/Debug/net8.0/Shared.dll
/src/Business/Presentation/bin/Debug/net8.0/Shared.pdb
/src/Business/Shared/bin/Debug/net8.0/Shared.deps.json
/src/Business/Shared/bin/Debug/net8.0/Shared.dll
/src/Business/Shared/bin/Debug/net8.0/Shared.pdb
/src/Business/Shared/obj/Debug/net8.0/ref/Shared.dll
/src/Business/Shared/obj/Debug/net8.0/refint/Shared.dll
/src/Business/Shared/obj/Debug/net8.0/Shared.csproj.CoreCompileInputs.cache
/src/Business/Shared/obj/Debug/net8.0/Shared.csproj.FileListAbsolute.txt
/src/Business/Shared/obj/Debug/net8.0/Shared.dll
/src/Business/Shared/obj/Debug/net8.0/Shared.pdb
/src/Business/Shared/obj/Debug/net8.0/Shared.sourcelink.json
/src/Business/Shared/obj/rider.project.model.nuget.info
/src/Business/Infrastructure/bin/Debug/net8.0/Shared.dll
/src/Business/Infrastructure/bin/Debug/net8.0/Shared.pdb
/src/Business/Application/bin/Debug/net8.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/src/Business/Application/bin/Debug/net8.0/Microsoft.AspNetCore.Connections.Abstractions.xml
/src/Business/Application/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Features.dll
/src/Business/Application/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Features.xml
/src/Business/Application/bin/Debug/net8.0/Microsoft.Extensions.Features.dll
/src/Business/Application/bin/Debug/net8.0/Microsoft.Extensions.Features.xml
/src/Business/Application/bin/Debug/net8.0/Microsoft.Net.Http.Headers.dll
/src/Business/Application/bin/Debug/net8.0/Microsoft.Net.Http.Headers.xml
/src/Business/Application/bin/Debug/net8.0/Shared.dll
/src/Business/Application/bin/Debug/net8.0/Shared.pdb
/src/Business/Application/bin/Debug/net8.0/System.IO.Pipelines.dll
/src/Business/Application/bin/Debug/net8.0/System.IO.Pipelines.xml
src/Business/Tests/bin/Debug/net8.0/CommunityToolkit.HighPerformance.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Abstractions.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Features.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
src/Business/Tests/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
src/Business/Tests/bin/Debug/net8.0/Minio.dll
src/Business/Tests/bin/Debug/net8.0/Shared.dll
src/Business/Tests/bin/Debug/net8.0/Shared.pdb
src/Business/Tests/bin/Debug/net8.0/System.IO.Hashing.dll
src/Business/Tests/bin/Debug/net8.0/System.Reactive.dll
.vscode/settings.json
src/Business/Tests/obj/Debug/net8.0/Tests.csproj.CopyComplete
DreamsShop_Client_Business.session.sql
/src/Business/Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
/src/Business/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/src/Business/Application/obj/Debug/net8.0/Application.assets.cache
/src/Business/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/src/Business/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Application/obj/Debug/net8.0/Application.GlobalUsings.g.cs
/src/Business/Application/obj/Application.csproj.nuget.dgspec.json
/src/Business/Application/obj/Application.csproj.nuget.g.props
/src/Business/Application/obj/Application.csproj.nuget.g.targets
/src/Business/Application/obj/project.assets.json
/src/Business/Application/obj/project.nuget.cache
/src/Business/Application/obj/project.packagespec.json
/src/Business/Application/obj/rider.project.model.nuget.info
/src/Business/Application/obj/rider.project.restore.info
/src/Business/Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/src/Business/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/src/Business/Domain/obj/Debug/net8.0/Domain.assets.cache
/src/Business/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
/src/Business/Domain/obj/Domain.csproj.nuget.dgspec.json
/src/Business/Domain/obj/Domain.csproj.nuget.g.props
/src/Business/Domain/obj/Domain.csproj.nuget.g.targets
/src/Business/Domain/obj/project.assets.json
/src/Business/Domain/obj/project.nuget.cache
/src/Business/Domain/obj/project.packagespec.json
/src/Business/Domain/obj/rider.project.model.nuget.info
/src/Business/Domain/obj/rider.project.restore.info
/src/Business/Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
/src/Business/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/src/Business/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/src/Business/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/src/Business/Infrastructure/obj/project.assets.json
/src/Business/Infrastructure/obj/project.nuget.cache
/src/Business/Infrastructure/obj/project.packagespec.json
/src/Business/Infrastructure/obj/rider.project.model.nuget.info
/src/Business/Infrastructure/obj/rider.project.restore.info
/src/Business/Presentation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfo.cs
/src/Business/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfoInputs.cache
/src/Business/Presentation/obj/Debug/net8.0/Presentation.assets.cache
/src/Business/Presentation/obj/Debug/net8.0/Presentation.csproj.AssemblyReference.cache
/src/Business/Presentation/obj/Debug/net8.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Presentation/obj/Debug/net8.0/Presentation.GlobalUsings.g.cs
/src/Business/Presentation/obj/Presentation.csproj.nuget.dgspec.json
/src/Business/Presentation/obj/Presentation.csproj.nuget.g.props
/src/Business/Presentation/obj/Presentation.csproj.nuget.g.targets
/src/Business/Presentation/obj/project.assets.json
/src/Business/Presentation/obj/project.nuget.cache
/src/Business/Presentation/obj/project.packagespec.json
/src/Business/Presentation/obj/rider.project.model.nuget.info
/src/Business/Presentation/obj/rider.project.restore.info
/src/Business/Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Tests
/src/Business/Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/Business/Tests/obj/Debug/net8.0/Tests.AssemblyInfo.cs
/src/Business/Tests/obj/Debug/net8.0/Tests.AssemblyInfoInputs.cache
/src/Business/Tests/obj/Debug/net8.0/Tests.assets.cache
/src/Business/Tests/obj/Debug/net8.0/Tests.csproj.AssemblyReference.cache
/src/Business/Tests/obj/Debug/net8.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
/src/Business/Tests/obj/Debug/net8.0/Tests.GlobalUsings.g.cs
/src/Business/Tests/obj/project.assets.json
/src/Business/Tests/obj/project.nuget.cache
/src/Business/Tests/obj/project.packagespec.json
/src/Business/Tests/obj/rider.project.model.nuget.info
/src/Business/Tests/obj/rider.project.restore.info
/src/Business/Tests/obj/Tests.csproj.nuget.dgspec.json
/src/Business/Tests/obj/Tests.csproj.nuget.g.props
/src/Business/Tests/obj/Tests.csproj.nuget.g.targets
/src/Business/Business.sln.DotSettings.user
